
@font-face {
    font-family: "Atkinson";
    src: url("./fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Atkinson";
    src: url("./fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
    font-weight: bold;
}

:root {
    --background: #fff1e6;


    --purple-gadget-background: #353389;
    --purple-gadget-shadow: #3f009c9a; 

    --screen-background: #582CDD; 

    --screen-chord-keys-background: #d2c7f3; 
    --screen-chord-scale-notes-background: #48FFD3; 

    --purple-text: #9e86e6;
    --white-text: #fff;

    --item-border: #48FFD3;
    --item-background: #48ffd41a;

    --item-background-hover: #48FFD3;
    --item-text-hover: #48FFD3;
}

* {
    margin: 0;
    padding: 0;

    font-family: Atkinson;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    display: flex;
    min-height: 100%;
    
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    background: var(--background);

}

.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    padding: 10px 20px;

    height: 620px;
    width: 420px;

    border-radius: 12px;
    background: var(--purple-gadget-background);
    box-shadow: 10px 10px 1px 0px var(--purple-gadget-shadow);
}

@media screen and (max-width: 460px) {
    .grid-container {
        width: calc(100% - 2%);
        column-gap: 1%;
        padding-left: 1%;
        padding-right: 1%;
        
        box-shadow: 0px 10px 1px 0px var(--purple-gadget-shadow);
    }
}

@media screen and (max-height: 640px) {
    .grid-container {
        height: calc(100% - 20px);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.grid-c-full {
    grid-column: 1 / 5;
}

.grid-c1 {
    grid-column: 1 / 1;
}

.grid-c2 {
    grid-column: 2 / 2;
}

.grid-c3 {
    grid-column: 3 / 3;
}

.grid-c4 {
    grid-column: 4 / 4;
}

.grid-r1 {
    grid-row: 1 / 1;
}

.grid-r2 {
    grid-row: 2 / 2;
}

.grid-r3 {
    grid-row: 3 / 3;
}

.grid-r4 {
    grid-row: 4 / 4;
}

.grid-r5 {
    grid-row: 5 / 5;
}

.grid-r6 {
    grid-row: 6 / 6;
}

.screen {
    background-color: var(--screen-background);
    margin: 4% 4%;
    border-radius: 4px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: stretch;
}

.tilted {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    
    align-items: center;
    justify-content: space-evenly;
}

.chord-keys {
    padding: 5px 10px 2px 10px;
    font-weight: bold;
    background-color: var(--screen-chord-keys-background);
    border-radius: 40px;
    color: var(--screen-background);
}

.chord-scale-notes .note {
    padding: 5px 5px 2px 5px;
    font-weight: bold;
    font-size: 22px;
    background-color: var(--screen-chord-scale-notes-background);
    border-radius: 6px;
    color: var(--screen-background);
    margin-right: 4px;
}


.button {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: space-between;
}

.button:active .button-top, .button.clicked .button-top {
    background: var(--item-background-hover);
}


.button:active .button-top .button-chord, .button.clicked .button-top .button-chord {
    color: var(--item-text-hover);
}


.button-top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 72px;
    height: 72px;


    border: solid 2px var(--item-border);
    background: var(--item-background);
    border-radius: 200px;
}

.button-chord {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;

    width: 60%;
    height: calc(60% - 12px);

    border: solid 2px var(--item-border);
    background: var(--purple-gadget-background);
    color: var(--white-text);
    
}

.button-bottom {
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 60%;
    margin-top: 4%;
    margin-left: 10%;

}

.button-number {
    color: var(--white-text);
    text-align: center;
    flex-grow: 1;

}

.button-key {
    color: var(--purple-text)
}